
html
	head
		title= title
	body 
		h1= title
		div#msg #{message}
		div#cont !{content}
		
		#contents(style="border:1px solid black;")
			input(type="checkbox", checked)


		ul
			-for(var i=0; i<5; i++)
				li 목차 #{i+1}
		ol
			-for(var i=0; i<5; i++)
				li 순서있는목록 #{i+1}